/*MENU*/

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    
}

.navbar a{
    font-size: 30px;
    color: black;
}
.nav-container  img{
    max-width: 200px;
    height: 150px;
}

.nav-options {
    border: 2px solid var(--tertiary-color);
}

.items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.items a{
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 20px;
    color: #000;
}
/*First section*/
.fondo{
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-image: url(../imagenes/fondopiedras.jpg);
    text-align: center;
    border-top: 10rem;
    padding-top: 10rem;
    color: white;
    height: 650px;
}
.fondo button{
    font-family: 'Roboto', sans-serif;
    width: 200px;
    height: 50px;
    margin-top: 50px;
    background-color: #D93682;
    color: white;
    border: 0rem;
}
.fondo button:hover{
    border: 2px solid #D93682;
    background-color: transparent;
}
/*Second section*/
.whiteSection{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-content: space-around;
    background-color: white;
}
.image figure {
    filter: grayscale(100%);
}
.image figure:hover{
    filter: grayscale(0%);
}
.text{
    text-align: justify;
}
/*Third section*/
.thirdSection{
    font-family: 'Roboto', sans-serif;
    align-items: flex-start;
    display: flex;
    align-content: space-around;
}
.image2 figure {
    filter: grayscale(100%);
}
.image2 figure:hover{
    filter: grayscale(0%);
}
/*Final section*/
.cardArea{
    font-family: 'Roboto', sans-serif;
    
    display: flex;
    align-content: space-around;
}
.card{
    background-color: #F2DEA0;
    max-width: 400px;
    text-align: center;
}
.card img{
    justify-content: center;
    border-radius: 150px;
    border: 10px solid white;
}
.card h1{
    text-align: center;
}
.card p{
    text-align: justify;
}
.card button{
    font-family: 'Roboto', sans-serif;
    width: 200px;
    height: 50px;
    margin-top: 50px;
    background-color: #D93682;
    color: white;
    border: 0rem;
}
.card button:hover{
    background-color: black;
}
/*Footer*/
.footerarea{
    align-content:center;
    text-align: center;
}
.cuadro{
    width: 100%;
    border-top: 10px solid #D93682;
}