@media screen and (max-whidt: 400px){
    .area{
        max-width: 400px;
        margin-left: 0rem;
    }
    .menu{
        max-width: 400px;
    }
    .options{
        max-width: 400px;
    }
    .optionscuadro{
        max-width: 400px;
    }
    .optionscuadro a{
        outline: solid;
    }
}
